// Colors
$nxtdes-blue: #4394b1;
$nxtdes-blue-light: #359abf95;
$nxtdes-blue-dark: #2b6f87;
$nxtdes-blue-extra-dark: #2F687D; 
$zinc-extra-light: rgb(250, 250, 250);
$zinc-light: rgb(244 244 245);
$white: #ffffff;
$black: #000000;
