@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredericka+the+Great&family=Lato:wght@300;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-family: 'Amatic SC', sans-serif;
}
